.project1__wrapper {
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-around; */
  /* flex-direction: column; */
  font-family: 'NanumSquare';
  margin: 250px 0;
  color: #fff;
  position: relative;
  /* z-index: -1; */
  z-index: 0; /* 왜 코딩효과 코드링크가 안 되지ㅠㅠ */
}

.project1__title--wrapper {
  margin-bottom: 130px;
  line-height: 45px;
}

.project1__text--subtitle {
  /* position: absolute; */ /* 미디어 뷰포트에 반응하기 위해 */
  /* left: 0; */
  font-family: 'NanumMongDor';
  font-size: 2rem;
  background: linear-gradient(to right top, #7748ff, #8b46d2);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

.project1__text--title {
  position: absolute; /* 미디어 뷰포트에 반응하기 위해 */
  /* top: 50px; */
  /* font-family: 'NanumSquareBold'; */
  font-family: 'NanumSquareExtraBold';
  font-size: 2.5rem;
}

.project1__category {
  display: flex;
  flex-direction: column;
  font-family: 'NanumSquareExtraBold';
  font-size: 1.2rem;
  margin-right: 30px;
  /* padding-top: 89px; */
  word-break : keep-all;
}

.project1__category1--wrapper,
.project1__category2--wrapper,
.project1__category3--wrapper,
.project1__category4--wrapper,
.project1__category5--wrapper {
  display: flex;
  /* justify-content: space-evenly; */
}

.project1__category4--wrapper,
.project1__category5--wrapper {
  align-items:center;
}

.project1__contents--wrapper { /* 컨텐츠 설명(카테고리와 90px 차이남!!) */
  /* margin-top: 170px; */
  font-size: 1.2rem;
}

.project__sentence-bold {
  font-family: 'NanumSquareExtraBold';
}

.project1__category1,
.project1__category1--sentence {
  margin-bottom: 40px;
}


.project1__category2 {
  /* margin-bottom: 150px; */
  margin-bottom:40px;
  padding-top: 5px;
}

.project1__category2--sentence {
  margin-bottom: 40px;
  line-height: 30px;
}

.project1__category3 {
  /* padding-top: 50px; */
  /* margin-bottom: 230px; */
  margin-bottom: 40px;
}

.project1__category3--sentence {
  list-style: none;
  line-height: 30px;
  margin-bottom: 25px;
}

.project1__category4 {
  margin-bottom: 50px;
}

.project1__category4--sentence {
  margin-bottom: 25px;
  cursor: pointer;
}


.project1__contents-img--wrapper {
  display: flex;
  flex-direction: column;
}

.project1__category4--sentence,
.project1__category5--sentence {
  width: 50px;
  height: 50px;
}

.project1__gif {
  width: 400px;
  max-width: 400px;
  margin-top: 20px;
}

.project1__contents--wrapper a { /* a는 가로 길이 값은 가질 수 있으니까! */
  /* width: 50px; */
}

