.project2 {
  /* margin: 0 150px 0 150px; */
}

.project2__gif {
  max-width: 800px;
  height: 500px;
  height: 480px;
  height: 460px;
  margin-top: 190px;
}

.project2__contents-img--wrapper {
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.js__challenge--certificate--img {
  /* display: none; */ /* 애니메이션 효과를 주고 싶을 때에는 display보다 opacity를 주는 것이 더 좋다 */
  position: absolute;
  opacity: 0;
  width: 600px;
  bottom: 80px;
  /* left: 26330px; */
  /* bottom: 8.6%; */
  left: 20%;
  left: 500px;
  /* left: 30%; */
  /* transform: translate(-50%, -50%); */
  transition: all 0.4s ease-in-out;
  box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px; /* 호버 이미지를 제외하고 배경 어둡게 하기 (만약 안 가려지는 요소가 있다면 z-index를 100이상으로 높게 부여하기*/
}

.project2__category4--sentence2:hover + .js__challenge--certificate--img{
  /* display: block; */
  opacity: 1;
}